In [1]:
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

import acquire
import prepare
import wrangle_excs as wrangle

In [31]:
def wrangle_zillow():
    # To get the single unit properties
    single_use = [261, 262, 263, 264, 266, 268, 273, 276, 279]

    # Importing the data into a pandas dataframe
    df = acquire.get_zillow_data()

    # Returns a summary of the dataframe
    acquire.summarize_df(df)

    # Get only single use properties
    df = df[df.propertylandusetypeid.isin(single_use)]

    # Restrict df to only those properties with at least 1 bath & bed and 350 sqft area
    df = df[(df.bedroomcnt > 0) & (df.bathroomcnt > 0) & ((df.unitcnt<=1)|df.unitcnt.isnull())\
            & (df.calculatedfinishedsquarefeet>350)]
    
    # removing bedroom counts above 7
    df = df[df.bedroomcnt < 7]
    
    # removing houses over 10000 square feet
    df = df[df.calculatedfinishedsquarefeet < 10000]

    # Removes columns with too high percentage of nulls
    df = acquire.handle_missing_values(df)

    # Get dummie variables for our counties
    df['county'] = df.fips.apply(lambda x: 'orange' if x == 6059.0 else 'los_angeles' if x == 6037.0 else 'ventura')
    df = df.drop(columns=['fips'])
    dummies = pd.get_dummies(df['county'])
    df = pd.concat([df, dummies],axis=1)

    # adding tax rate percentage
    df['taxrate'] = df.taxamount/df.taxvaluedollarcnt*100

    # adding structure square footage cost
    df['structure_dollar_per_sqft'] = df.structuretaxvaluedollarcnt/df.calculatedfinishedsquarefeet

    # adding land square footage cost
    df['land_dollar_per_sqft'] = df.landtaxvaluedollarcnt/df.lotsizesquarefeet

    # removing outliers on lotsize
    df = df[df.lotsizesquarefeet < 200000]

    # removing columns that are of no use
    dropcols = ['parcelid',
                'calculatedbathnbr',
                'finishedsquarefeet12',
                'fullbathcnt',
                'heatingorsystemtypeid',
                'propertycountylandusecode',
                'propertylandusetypeid',
                'propertyzoningdesc',
                'censustractandblock',
                'propertylandusedesc',
                'unitcnt',
                'transactiondate',
                'county',
               'heatingorsystemdesc',
               'id']
    
    df.drop(columns = dropcols, inplace = True)

    # filling nulls
    # assume that since this is Southern CA, null means 'None' for heating system
    df.lotsizesquarefeet.fillna(7313, inplace = True)
    df.buildingqualitytypeid.fillna(6.0, inplace = True)

    # Renaming columns for readibility
    df.rename(columns = {"bathroomcnt":"bathrooms",
                        "bedroomcnt":"bedrooms",
                        "buildingqualitytypeid ":"building_quality",
                        "calculatedfinishedsquarefeet":"square_footage",
                        "lotsizesquarefeet":"lot_size",
                        "rawcensustractandblock":"census_tract_and_block",
                        "regionidcity":"city_id",
                        "regionidcounty":"county_id",
                        "regionidzip":"zip_id",
                        "roomcnt":"room_count",
                        "yearbuilt":"year_built",
                        "structuretaxvaluedollarcnt":"structure_tax_value",
                        "taxvaluedollarcnt":"tax_value",
                        "logerror":"target"}, inplace = True)
    # dropping the null values
    df = df.dropna()

    # removing outliers
    df = prepare.remove_outliers(df)

    # train validate test split
    train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test = prepare.train_validate_test(df, target = "target")

    # scaling our data
    scaler, X_train_scaled, X_validate_scaled, X_test_scaled = prepare.min_max_scaler(X_train, X_validate, X_test)
    
    return df, scaler, train, validate, test, X_train, X_train_scaled, y_train, X_validate, X_validate_scaled, y_validate, X_test, X_test_scaled, y_test

In [32]:
df, scaler, train, validate, test, X_train, X_train_scaled, y_train, X_validate, X_validate_scaled, y_validate, X_test, X_test_scaled, y_test = wrangle_zillow()

-----Head-------
   typeconstructiontypeid  storytypeid  propertylandusetypeid  \
0                     NaN          NaN                  261.0
1                     NaN          NaN                  261.0
2                     NaN          NaN                  261.0

   heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
0                    NaN                  NaN                       NaN
1                    NaN                  NaN                       NaN
2                    NaN                  NaN                       NaN

   airconditioningtypeid  parcelid       id  basementsqft  ...  \
0                    NaN  14297519  1727539           NaN  ...
1                    NaN  17052889  1387261           NaN  ...
2                    NaN  14186244    11677           NaN  ...

   censustractandblock  logerror  transactiondate  airconditioningdesc  \
0         6.059063e+13  0.025595       2017-01-01                  NaN
1         6.111001e+13  0.055619       2017-01-01                  NaN
2         6.059022e+13  0.005383       2017-01-01                  NaN

   architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  \
0                     NaN                NaN                  NaN
1                     NaN                NaN                  NaN
2                     NaN                NaN                  NaN

         propertylandusedesc  storydesc  typeconstructiondesc
0  Single Family Residential        NaN                   NaN
1  Single Family Residential        NaN                   NaN
2  Single Family Residential        NaN                   NaN

[3 rows x 68 columns]
-----shape------
77575 rows and 68 columns
---info---
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77575 entries, 0 to 77574
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77575 non-null  float64
 3   heatingorsystemtypeid         49570 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         25006 non-null  float64
 7   parcelid                      77575 non-null  int64
 8   id                            77575 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77575 non-null  float64
 11  bedroomcnt                    77575 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76960 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77375 non-null  float64
 17  finishedsquarefeet12          73920 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77575 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76960 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77575 non-null  float64
 29  longitude                     77575 non-null  float64
 30  lotsizesquarefeet             69318 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77575 non-null  object
 37  propertyzoningdesc            50475 non-null  object
 38  rawcensustractandblock        77575 non-null  float64
 39  regionidcity                  76103 non-null  float64
 40  regionidcounty                77575 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77525 non-null  float64
 43  roomcnt                       77575 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77306 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77460 non-null  float64
 52  taxvaluedollarcnt             77574 non-null  float64
 53  assessmentyear                77575 non-null  float64
 54  landtaxvaluedollarcnt         77573 non-null  float64
 55  taxamount                     77570 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77328 non-null  float64
 59  logerror                      77575 non-null  float64
 60  transactiondate               77575 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49570 non-null  object
 65  propertylandusedesc           77575 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.8+ MB
None
       typeconstructiontypeid  storytypeid  propertylandusetypeid  \
count              222.000000         50.0           77575.000000
mean                 6.040541          7.0             261.824467
std                  0.557285          0.0               5.141701
min                  4.000000          7.0              31.000000
25%                  6.000000          7.0             261.000000
50%                  6.000000          7.0             261.000000
75%                  6.000000          7.0             266.000000
max                 13.000000          7.0             275.000000

       heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
count           49570.000000            15.000000                206.000000
mean                3.921707             3.933333                  7.388350
std                 3.594804             0.258199                  2.734542
min                 1.000000             3.000000                  2.000000
25%                 2.000000             4.000000                  7.000000
50%                 2.000000             4.000000                  7.000000
75%                 7.000000             4.000000                  7.000000
max                24.000000             4.000000                 21.000000

       airconditioningtypeid      parcelid            id  basementsqft  ...  \
count           25006.000000  7.757500e+04  7.757500e+04     50.000000  ...
mean                1.812045  1.300630e+07  1.495352e+06    679.720000  ...
std                 2.965823  3.478021e+06  8.609703e+05    689.703546  ...
min                 1.000000  1.071186e+07  3.490000e+02     38.000000  ...
25%                 1.000000  1.153820e+07  7.521050e+05    273.000000  ...
50%                 1.000000  1.253053e+07  1.498195e+06    515.000000  ...
75%                 1.000000  1.421124e+07  2.240715e+06    796.500000  ...
max                13.000000  1.676893e+08  2.982274e+06   3560.000000  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     17596.000000          172.0                7.746000e+04
mean          1.434246            1.0                1.892815e+05
std           0.544518            0.0                2.304137e+05
min           1.000000            1.0                4.400000e+01
25%           1.000000            1.0                8.418200e+04
50%           1.000000            1.0                1.364045e+05
75%           2.000000            1.0                2.187340e+05
max           6.000000            1.0                1.142179e+07

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       7.757400e+04         77575.0           7.757300e+04
mean        4.901447e+05          2016.0           3.011453e+05
std         6.538022e+05             0.0           4.927287e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         2.068985e+05          2016.0           8.529300e+04
50%         3.588785e+05          2016.0           2.031740e+05
75%         5.690000e+05          2016.0           3.667530e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  taxdelinquencyyear  censustractandblock      logerror
count   77570.000000         2900.000000         7.732800e+04  77575.000000
mean     5995.821528           14.088276         6.049666e+13      0.016802
std      7628.869090            2.181281         1.533376e+12      0.170743
min        19.920000            3.000000         6.037101e+13     -4.655420
25%      2712.630000           14.000000         6.037311e+13     -0.024311
50%      4448.265000           15.000000         6.037603e+13      0.006672
75%      6926.785000           15.000000         6.059042e+13      0.039291
max    586639.300000           99.000000         4.830301e+14      5.262999

[8 rows x 57 columns]
----Catagorical Variables----
['propertycountylandusecode', 'propertyzoningdesc', 'taxdelinquencyflag', 'transactiondate', 'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc', 'heatingorsystemdesc', 'propertylandusedesc', 'storydesc', 'typeconstructiondesc']
----Continous  Variables----
['typeconstructiontypeid', 'storytypeid', 'propertylandusetypeid', 'heatingorsystemtypeid', 'buildingclasstypeid', 'architecturalstyletypeid', 'airconditioningtypeid', 'parcelid', 'id', 'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr', 'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt', 'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'taxdelinquencyyear', 'censustractandblock', 'logerror']
--nulls--
=====================================================
(3.99, 4.9]       1
(4.9, 5.8]        0
(5.8, 6.7]      219
(6.7, 7.6]        0
(7.6, 8.5]        0
(8.5, 9.4]        0
(9.4, 10.3]       1
(10.3, 11.2]      0
(11.2, 12.1]      0
(12.1, 13.0]      1
Name: typeconstructiontypeid, dtype: int64
(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      50
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64
(30.755, 55.4]       15
(55.4, 79.8]          0
(79.8, 104.2]         0
(104.2, 128.6]        0
(128.6, 153.0]        0
(153.0, 177.4]        0
(177.4, 201.8]        0
(201.8, 226.2]        0
(226.2, 250.6]     3289
(250.6, 275.0]    74271
Name: propertylandusetypeid, dtype: int64
(0.976, 3.3]    33646
(3.3, 5.6]          0
(5.6, 7.9]      14883
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       60
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      850
Name: heatingorsystemtypeid, dtype: int64
(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64
(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   172
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64
(0.987, 2.2]    23185
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1575
Name: airconditioningtypeid, dtype: int64
(10554877.537, 26409601.2]    77544
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       29
Name: parcelid, dtype: int64
(-2632.9260000000004, 298541.5]    7754
(298541.5, 596734.0]               7708
(596734.0, 894926.5]               7595
(894926.5, 1193119.0]              7714
(1193119.0, 1491311.5]             7844
(1491311.5, 1789504.0]             7826
(1789504.0, 2087696.5]             7824
(2087696.5, 2385889.0]             7713
(2385889.0, 2684081.5]             7735
(2684081.5, 2982274.0]             7862
Name: id, dtype: int64
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
(-0.019, 1.8]    14961
(1.8, 3.6]       56571
(3.6, 5.4]        5077
(5.4, 7.2]         804
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
(-0.017, 1.6]     4227
(1.6, 3.2]       49658
(3.2, 4.8]       17549
(4.8, 6.4]        5550
(6.4, 8.0]         461
(8.0, 9.6]          70
(9.6, 11.2]         40
(11.2, 12.8]        16
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64
(0.988, 2.1]       35
(2.1, 3.2]        335
(3.2, 4.3]       9508
(4.3, 5.4]       2099
(5.4, 6.5]      13501
(6.5, 7.6]       5981
(7.6, 8.7]      14685
(8.7, 9.8]       2303
(9.8, 10.9]       313
(10.9, 12.0]     1049
Name: buildingqualitytypeid, dtype: int64
(0.982, 2.7]    52528
(2.7, 4.4]      21745
(4.4, 6.1]       2364
(6.1, 7.8]        177
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
(37.131, 730.8]      702
(730.8, 1417.6]     3035
(1417.6, 2104.4]    1735
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
(92.487, 3679.2]      74064
(3679.2, 7230.4]       3138
(7230.4, 10781.6]       150
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64
(106.198, 2308.1]     59740
(2308.1, 4488.2]      12883
(4488.2, 6668.3]       1070
(6668.3, 8848.4]        163
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 6
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64
(562.957, 4102.2]     2829
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64

(31.576, 1286.3]      3145
(1286.3, 2528.6]      2557
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64
(6036.925, 6044.4]    50695
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20630
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6250
Name: fips, dtype: int64
(0.995, 1.4]    7016
(1.4, 1.8]         0
(1.8, 2.2]       998
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64
(0.982, 2.7]    52545
(2.7, 4.4]      22446
(4.4, 6.1]       1701
(6.1, 7.8]        122
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64
(-0.015, 1.4]     5919
(1.4, 2.8]       18637
(2.8, 4.2]         888
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
(-4.252000000000001, 425.1]    11960
(425.1, 850.2]                 13179
(850.2, 1275.3]                  324
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1539
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64
(33338047.759000003, 33487451.0]     1048
(33487451.0, 33635375.0]             5324
(33635375.0, 33783299.0]            10069
(33783299.0, 33931223.0]            14828
(33931223.0, 34079147.0]            14272
(34079147.0, 34227071.0]            18946
(34227071.0, 34374995.0]             6275
(34374995.0, 34522919.0]             3148
(34522919.0, 34670843.0]             2323
(34670843.0, 34818767.0]             1342
Name: latitude, dtype: int64
(-119477336.781, -119283338.0]      221
(-119283338.0, -119091260.0]       2000
(-119091260.0, -118899182.0]       1498
(-118899182.0, -118707104.0]       2667
(-118707104.0, -118515026.0]       5938
(-118515026.0, -118322948.0]      15473
(-118322948.0, -118130870.0]      15408
(-118130870.0, -117938792.0]      14256
(-117938792.0, -117746714.0]      12712
(-117746714.0, -117554636.0]       7402
Name: longitude, dtype: int64
(-6734.775000000001, 697313.4]    69031
(697313.4, 1394390.8]               228
(1394390.8, 2091468.2]               40
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       16173
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: poolcnt, dtype: int64
(22.523, 171.6]       7
(171.6, 319.2]       47
(319.2, 466.8]      323
(466.8, 614.4]      307
(614.4, 762.0]      123
(762.0, 909.6]       48
(909.6, 1057.2]       7
(1057.2, 1204.8]      5
(1204.8, 1352.4]      0
(1352.4, 1500.0]      2
Name: poolsizesum, dtype: int64
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       465
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: pooltypeid10, dtype: int64
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1074
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: pooltypeid2, dtype: int64
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       15078
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: pooltypeid7, dtype: int64
0100    26782
122     13067
010C     8838
0101     6413
34       4931
        ...
0204        1
0115        1
0133        1
040G        1
1432        1
Name: propertycountylandusecode, Length: 75, dtype: int64
LAR1       6766
LAR3       2449
LARS       1394
LBR1N      1225
LARD1.5    1132
           ...
DOCP*         1
LRRI*         1
POR2          1
PDM2*         1
LYP1YY        1
Name: propertyzoningdesc, Length: 1907, dtype: int64
(60370272.019999996, 60444919.091]    50695
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          20630
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.052]              0
(60740551.052, 60814459.042]              0
(60814459.042, 60888367.032]              0
(60888367.032, 60962275.022]              0
(60962275.022, 61036183.012]              0
(61036183.012, 61110091.002]           6250
Name: rawcensustractandblock, dtype: int64
(3097.9339999999997, 42797.5]    55793
(42797.5, 82104.0]               18168
(82104.0, 121410.5]               1057
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                24
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]              1061
Name: regionidcity, dtype: int64
(1284.184, 1467.5]    20630
(1467.5, 1649.0]          0
(1649.0, 1830.5]          0
(1830.5, 2012.0]          0
(2012.0, 2193.5]       6250
(2193.5, 2375.0]          0
(2375.0, 2556.5]          0
(2556.5, 2738.0]          0
(2738.0, 2919.5]          0
(2919.5, 3101.0]      50695
Name: regionidcounty, dtype: int64
(6194.784, 82673.5]     11572
(82673.5, 158395.0]      4599
(158395.0, 234116.5]       44
(234116.5, 309838.0]    11587
(309838.0, 385559.5]       77
(385559.5, 461281.0]     1953
(461281.0, 537002.5]        0
(537002.5, 612724.0]        0
(612724.0, 688445.5]       66
(688445.5, 764167.0]     1075
Name: regionidneighborhood, dtype: int64
(95678.306, 126351.3]    77513
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64
(-0.016, 1.5]    59966
(1.5, 3.0]         227
(3.0, 4.5]        1422
(4.5, 6.0]        7546
(6.0, 7.5]        3843
(7.5, 9.0]        4071
(9.0, 10.5]        340
(10.5, 12.0]       143
(12.0, 13.5]        10
(13.5, 15.0]         7
Name: roomcnt, dtype: int64
(0.993, 1.6]    10021
(1.6, 2.2]         75
(2.2, 2.8]          0
(2.8, 3.4]          8
(3.4, 4.0]          0
(4.0, 4.6]          0
(4.6, 5.2]          0
(5.2, 5.8]          0
(5.8, 6.4]          0
(6.4, 7.0]          1
Name: threequarterbathnbr, dtype: int64
(0.763, 24.6]     50700
(24.6, 48.2]          2
(48.2, 71.8]          0
(71.8, 95.4]          0
(95.4, 119.0]         0
(119.0, 142.6]        0
(142.6, 166.2]        0
(166.2, 189.8]        0
(189.8, 213.4]        0
(213.4, 237.0]        1
Name: unitcnt, dtype: int64
(7.819, 329.0]      1639
(329.0, 647.0]       607
(647.0, 965.0]        95
(965.0, 1283.0]       35
(1283.0, 1601.0]       9
(1601.0, 1919.0]       1
(1919.0, 2237.0]       2
(2237.0, 2555.0]       2
(2555.0, 2873.0]       1
(2873.0, 3191.0]       2
Name: yardbuildingsqft17, dtype: int64
(11.143, 97.6]    24
(97.6, 183.2]     14
(183.2, 268.8]    10
(268.8, 354.4]     7
(354.4, 440.0]     4
(440.0, 525.6]     6
(525.6, 611.2]     2
(611.2, 696.8]     1
(696.8, 782.4]     1
(782.4, 868.0]     1
Name: yardbuildingsqft26, dtype: int64
(1823.807, 1843.2]        1
(1843.2, 1862.4]          0
(1862.4, 1881.6]          3
(1881.6, 1900.8]         90
(1900.8, 1920.0]       1754
(1920.0, 1939.2]       6718
(1939.2, 1958.4]      18513
(1958.4, 1977.6]      20409
(1977.6, 1996.8]      19128
(1996.8, 2016.0]      10690
Name: yearbuilt, dtype: int64
(0.994, 1.5]    10396
(1.5, 2.0]       6762
(2.0, 2.5]          0
(2.5, 3.0]        437
(3.0, 3.5]          0
(3.5, 4.0]          0
(4.0, 4.5]          0
(4.5, 5.0]          0
(5.0, 5.5]          0
(5.5, 6.0]          1
Name: numberofstories, dtype: int64
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       172
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: fireplaceflag, dtype: int64
(-11377.747, 1142218.6]     76853
(1142218.6, 2284393.2]        494
(2284393.2, 3426567.8]         74
(3426567.8, 4568742.4]         20
(4568742.4, 5710917.0]          9
(5710917.0, 6853091.6]          2
(6853091.6, 7995266.2]          6
(7995266.2, 9137440.8]          0
(9137440.8, 10279615.4]         1
(10279615.4, 11421790.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
(-48060.236999999994, 4907023.6]    77347
(4907023.6, 9813047.2]                187
(9813047.2, 14719070.8]                26
(14719070.8, 19625094.4]                8
(19625094.4, 24531118.0]                4
(24531118.0, 29437141.6]                1
(29437141.6, 34343165.2]                0
(34343165.2, 39249188.8]                0
(39249188.8, 44155212.4]                0
(44155212.4, 49061236.0]                1
Name: taxvaluedollarcnt, dtype: int64
(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      77575
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64
(-48791.03799999999, 4895364.7]    77464
(4895364.7, 9790568.4]                88
(9790568.4, 14685772.1]               14
(14685772.1, 19580975.8]               5
(19580975.8, 24476179.5]               1
(24476179.5, 29371383.2]               0
(29371383.2, 34266586.9]               0
(34266586.9, 39161790.6]               0
(39161790.6, 44056994.3]               0
(44056994.3, 48952198.0]               1
Name: landtaxvaluedollarcnt, dtype: int64
(-566.6999999999999, 58681.858]    77355
(58681.858, 117343.796]              179
(117343.796, 176005.734]              22
(176005.734, 234667.672]               9
(234667.672, 293329.61]                4
(293329.61, 351991.548]                0
(351991.548, 410653.486]               0
(410653.486, 469315.424]               0
(469315.424, 527977.362]               0
(527977.362, 586639.3]                 1
Name: taxamount, dtype: int64
Y    2900
Name: taxdelinquencyflag, dtype: int64
(2.903, 12.6]     351
(12.6, 22.2]     2548
(22.2, 31.8]        0
(31.8, 41.4]        0
(41.4, 51.0]        0
(51.0, 60.6]        0
(60.6, 70.2]        0
(70.2, 79.8]        0
(79.8, 89.4]        0
(89.4, 99.0]        1
Name: taxdelinquencyyear, dtype: int64
(59948352007016.984, 102636920499301.5]    77327
(102636920499301.5, 144902829897603.0]         0
(144902829897603.0, 187168739295904.5]         0
(187168739295904.5, 229434648694206.03]        0
(229434648694206.03, 271700558092507.5]        0
(271700558092507.5, 313966467490809.0]         0
(313966467490809.0, 356232376889110.5]         0
(356232376889110.5, 398498286287411.94]        0
(398498286287411.94, 440764195685713.5]        0
(440764195685713.5, 483030105084015.0]         1
Name: censustractandblock, dtype: int64
(-4.666, -3.664]        3
(-3.664, -2.672]        1
(-2.672, -1.68]        36
(-1.68, -0.688]       142
(-0.688, 0.304]     75527
(0.304, 1.296]       1688
(1.296, 2.287]        103
(2.287, 3.279]         73
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64
2017-06-30    1194
2017-04-28     917
2017-05-31     868
2017-07-28     815
2017-08-31     782
              ...
2017-08-05       1
2017-07-08       1
2017-04-15       1
2018-05-25       1
2017-08-06       1
Name: transactiondate, Length: 265, dtype: int64
Central          23185
Yes               1575
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64
Contemporary     172
Conventional      19
Ranch/Rambler      7
Bungalow           5
Cape Cod           3

Name: architecturalstyledesc, dtype: int64
Buildings having wood or wood and steel frames                                                                                                                                                                                             14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     1
Name: buildingclassdesc, dtype: int64
Central       33633
Floor/Wall    14107
Yes             850
Forced air      776
Solar           104
None             60
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64
Single Family Residential                     52439
Condominium                                   19341
Duplex (2 Units, Any Combination)              2021
Planned Unit Development                       1947
Quadruplex (4 Units, Any Combination)           729
Triplex (3 Units, Any Combination)              539
Cluster Home                                    335
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       59
Residential General                              41
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64
Basement    50
Name: storydesc, dtype: int64
Frame       219
Concrete      1
Masonry       1
Metal         1
Name: typeconstructiondesc, dtype: int64
=====================================================
typeconstructiontypeid    77353
storytypeid               77525
propertylandusetypeid         0
heatingorsystemtypeid     28005
buildingclasstypeid       77560
                          ...
buildingclassdesc         77560
heatingorsystemdesc       28005
propertylandusedesc           0
storydesc                 77525
typeconstructiondesc      77353
Length: 68, dtype: int64

In [33]:
train.head()

,bathrooms,bedrooms,buildingqualitytypeid,square_footage,latitude,longitude,lot_size,census_tract_and_block,city_id,county_id,...,assessmentyear,landtaxvaluedollarcnt,taxamount,target,los_angeles,orange,ventura,taxrate,structure_dollar_per_sqft,land_dollar_per_sqft
56492,2.0,3.0,6.0,1308.0,33683614.0,-117905359.0,6500.0,6.059064e+07,38032.0,1286.0,...,2016.0,244296.0,4672.77,0.006996,0,1,0,1.470826,56.116972,37.584000
74855,2.0,2.0,8.0,1848.0,34632279.0,-118214952.0,12372.0,6.037910e+07,5534.0,3101.0,...,2016.0,49466.0,2725.68,-0.022607,1,0,0,1.252593,90.983225,3.998222
26254,2.0,3.0,6.0,1490.0,34197656.0,-118519978.0,6689.0,6.037132e+07,12447.0,3101.0,...,2016.0,268544.0,4307.81,0.021316,1,0,0,1.257538,49.674497,40.147107
68956,3.0,2.0,8.0,2044.0,34166600.0,-118522000.0,21799.0,6.037140e+07,12447.0,3101.0,...,2016.0,214406.0,5276.04,0.038740,1,0,0,1.206506,109.047456,9.835589
76854,2.5,2.0,6.0,1250.0,33816269.0,-117976198.0,1550.0,6.059088e+07,16764.0,1286.0,...,2016.0,172732.0,3259.86,-0.001353,0,1,0,1.198689,79.376000,111.440000

In [34]:
df.shape

(58002, 25)

In [24]:
df.head().T

,0,1,2,3,5
id,1.727539e+06,1.387261e+06,1.167700e+04,2.288172e+06,1.447245e+06
bathrooms,3.500000e+00,1.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00
bedrooms,4.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,3.000000e+00
buildingqualitytypeid,6.000000e+00,6.000000e+00,6.000000e+00,8.000000e+00,6.000000e+00
square_footage,3.100000e+03,1.465000e+03,1.243000e+03,2.376000e+03,1.492000e+03
latitude,3.363493e+07,3.444927e+07,3.388617e+07,3.424518e+07,3.423004e+07
longitude,-1.178692e+08,-1.192815e+08,-1.178232e+08,-1.182407e+08,-1.189940e+08
lot_size,4.506000e+03,1.264700e+04,8.432000e+03,1.303800e+04,9.030000e+02
census_tract_and_block,6.059063e+07,6.111001e+07,6.059022e+07,6.037300e+07,6.111005e+07
city_id,5.357100e+04,1.309100e+04,2.141200e+04,3.965510e+05,5.123900e+04
county_id,1.286000e+03,2.061000e+03,1.286000e+03,3.101000e+03,2.061000e+03
zip_id,9.697800e+04,9.709900e+04,9.707800e+04,9.633000e+04,9.709100e+04
room_count,0.000000e+00,5.000000e+00,6.000000e+00,0.000000e+00,6.000000e+00
year_built,1.998000e+03,1.967000e+03,1.962000e+03,1.970000e+03,1.982000e+03
structure_tax_value,4.857130e+05,8.800000e+04,8.528900e+04,1.089180e+05,1.986400e+05
tax_value,1.023282e+06,4.640000e+05,5.647780e+05,1.451430e+05,3.310640e+05
assessmentyear,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,5.375690e+05,3.760000e+05,4.794890e+05,3.622500e+04,1.324240e+05
taxamount,1.101372e+04,5.672480e+03,6.488300e+03,1.777510e+03,3.508100e+03
target,2.559490e-02,5.561909e-02,5.382853e-03,-1.034097e-01,-2.052627e-02
los_angeles,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
orange,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
ventura,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
taxrate,1.076313e+00,1.222517e+00,1.148823e+00,1.224661e+00,1.059644e+00
structure_dollar_per_sqft,1.566816e+02,6.006826e+01,6.861545e+01,4.584091e+01,1.331367e+02
land_dollar_per_sqft,1.193007e+02,2.973037e+01,5.686539e+01,2.778417e+00,1.466489e+02

In [9]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'customer_id': 'num_rows'}).reset_index()
    return rows_missing

In [10]:
nulls_by_col(df)

                           num_rows_missing  percent_rows_missing
id                                        0                   0.0
bathrooms                                 0                   0.0
bedrooms                                  0                   0.0
buildingqualitytypeid                     0                   0.0
square_footage                            0                   0.0
latitude                                  0                   0.0
longitude                                 0                   0.0
lot_size                                  0                   0.0
census_tract_and_block                    0                   0.0
city_id                                   0                   0.0
county_id                                 0                   0.0
zip_id                                    0                   0.0
room_count                                0                   0.0
year_built                                0                   0.0
structure_tax_value                       0                   0.0
tax_value                                 0                   0.0
assessmentyear                            0                   0.0
landtaxvaluedollarcnt                     0                   0.0
taxamount                                 0                   0.0
target                                    0                   0.0
los_angeles                               0                   0.0
orange                                    0                   0.0
ventura                                   0                   0.0
taxrate                                   0                   0.0
structure_dollar_per_sqft                 0                   0.0
land_dollar_per_sqft                      0                   0.0

In [11]:
nulls_by_row(df)

  num_cols_missing percent_cols_missing  index
0                0                  0.0  58147

In [12]:
df.head()

,id,bathrooms,bedrooms,buildingqualitytypeid,square_footage,latitude,longitude,lot_size,census_tract_and_block,city_id,...,assessmentyear,landtaxvaluedollarcnt,taxamount,target,los_angeles,orange,ventura,taxrate,structure_dollar_per_sqft,land_dollar_per_sqft
0,1727539,3.5,4.0,6.0,3100.0,33634931.0,-117869207.0,4506.0,6.059063e+07,53571.0,...,2016.0,537569.0,11013.72,0.025595,0,1,0,1.076313,156.681613,119.300710
1,1387261,1.0,2.0,6.0,1465.0,34449266.0,-119281531.0,12647.0,6.111001e+07,13091.0,...,2016.0,376000.0,5672.48,0.055619,0,0,1,1.222517,60.068259,29.730371
2,11677,2.0,3.0,6.0,1243.0,33886168.0,-117823170.0,8432.0,6.059022e+07,21412.0,...,2016.0,479489.0,6488.30,0.005383,0,1,0,1.148823,68.615447,56.865394
3,2288172,3.0,4.0,8.0,2376.0,34245180.0,-118240722.0,13038.0,6.037300e+07,396551.0,...,2016.0,36225.0,1777.51,-0.103410,1,0,0,1.224661,45.840909,2.778417
5,1447245,2.0,3.0,6.0,1492.0,34230044.0,-118993991.0,903.0,6.111005e+07,51239.0,...,2016.0,132424.0,3508.10,-0.020526,0,0,1,1.059644,133.136729,146.648948

In [15]:
df.bedrooms.value_counts()

3.0     24655
4.0     14893
2.0     12448
5.0      3734
1.0      1702
6.0       587
7.0        98
8.0        20
9.0         8
11.0        1
10.0        1
Name: bedrooms, dtype: int64

In [25]:
df.square_footage.max()

12616.0

In [30]:
df.head()

,id,bathrooms,bedrooms,buildingqualitytypeid,square_footage,latitude,longitude,lot_size,census_tract_and_block,city_id,...,assessmentyear,landtaxvaluedollarcnt,taxamount,target,los_angeles,orange,ventura,taxrate,structure_dollar_per_sqft,land_dollar_per_sqft
0,1727539,3.5,4.0,6.0,3100.0,33634931.0,-117869207.0,4506.0,6.059063e+07,53571.0,...,2016.0,537569.0,11013.72,0.025595,0,1,0,1.076313,156.681613,119.300710
1,1387261,1.0,2.0,6.0,1465.0,34449266.0,-119281531.0,12647.0,6.111001e+07,13091.0,...,2016.0,376000.0,5672.48,0.055619,0,0,1,1.222517,60.068259,29.730371
2,11677,2.0,3.0,6.0,1243.0,33886168.0,-117823170.0,8432.0,6.059022e+07,21412.0,...,2016.0,479489.0,6488.30,0.005383,0,1,0,1.148823,68.615447,56.865394
3,2288172,3.0,4.0,8.0,2376.0,34245180.0,-118240722.0,13038.0,6.037300e+07,396551.0,...,2016.0,36225.0,1777.51,-0.103410,1,0,0,1.224661,45.840909,2.778417
5,1447245,2.0,3.0,6.0,1492.0,34230044.0,-118993991.0,903.0,6.111005e+07,51239.0,...,2016.0,132424.0,3508.10,-0.020526,0,0,1,1.059644,133.136729,146.648948

In [36]:
acquire.get_zillow_data()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,2288172,NaN,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,1970746,NaN,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77570,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10833991,2864704,NaN,...,6.037132e+13,-0.002245,2017-09-20,Central,NaN,NaN,Central,Condominium,NaN,NaN
77571,NaN,NaN,261.0,2.0,NaN,NaN,NaN,11000655,673515,NaN,...,6.037101e+13,0.020615,2017-09-20,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
77572,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17239384,2968375,NaN,...,6.111008e+13,0.013209,2017-09-21,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
77573,NaN,NaN,261.0,2.0,NaN,NaN,1.0,12773139,1843709,NaN,...,6.037434e+13,0.037129,2017-09-21,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
77574,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12826780,1187175,NaN,...,6.037503e+13,0.007204,2017-09-25,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN